<!-- left side content  -->
<div style="display : flex" *ngIf="crops$ | async">
  <div class="container-outer p-5 mt-3" >
    <div class="filters">
      <section class="example-section">
        <span class="example-list-section">
          <h6>Select Crop</h6>
        </span>
        <span class="example-list-section">
          <ul>
            <li *ngFor="let filter of nameFilters$ | async">

              <input type="checkbox"  (change)="onNameFilterChange(filter)">

              {{ filter.name }}
            </li>
          </ul>
        </span>
      </section>
    </div>
  </div>

  <!-- Right side content  -->
  <div class="card mt-5" style="width: 18rem" *ngFor="let crop of filteredCrops$ | async" [hidden]="!crop.checked">
    <img src="../assets/wheat.jpg">
    <div class="card-body">
      <h5 class="card-title">{{ crop.name }}</h5>
    </div>
  </div>
</div>