<nav class="navbar  navbar-expand-lg bg-body-tertiary" >
    <div class="container-fluid p-2" style="background-color: rgba(151, 157, 212, 0.171);">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
            </ul>
            <form class="d-flex" role="search">
                <button class="btn btn-outline-secondary me-3" routerLink="/checkbox" style="white-space: nowrap;">
                    Checkbox Filters
                </button>
                <button class="btn btn-outline-warning me-3" routerLink="/multipleCheckboxFilter" style="white-space: nowrap;">
                    Multiple Checkbox Filters
                </button>
                <button class="btn btn-outline-primary me-3" routerLink="/checkUnCheck" style="white-space: nowrap;">
                    Check and Uncheck
                </button>
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>